---
name: test

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:  
  test:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
  
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26

      - name: install dependencies
        run: go mod download

      - name: install mockgen
        run: go install go.uber.org/mock/mockgen@latest

      - name: generate mocks
        run: go generate ./...

      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: -v

      - name: test
        run: go test -v ./...
